.projects {
    height: auto;
    width: 100%;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.projects_header_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.projects_header {
    margin-top: 50px;
    padding-right: 120px;
    color: black;
    text-align: right;

    font-size: 3.5rem;
    letter-spacing: .15em;
}

.projects_card_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projects_card_container_row {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.projects_card {
    width: 40%;
    height: 300px;
    background-color: #F8F7F7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;

    position: relative;

    margin: 50px;

    display: flex;
    justify-content: flex-start;

    transition: 1s;
}

.projects_card:hover {
    scale: 1.1;
    transition: 1s;
}

.projects_card_img {
    width: 50%;
    overflow: hidden;
}

.projects_card_img img {
    width: 100%;
    height: 100%;
}

.projects_card_text {
    color: black;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Project Modals */

.modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;

    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.projects_modal_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    width: 27%;
    animation: fadeIn 1.5s,
    slideDown 1.5s;
    animation-fill-mode: forwards;

    position: relative;
    bottom: 100px;

    height: 500px;
    width: 800px;
}

.projects_modal_card_img {
    height: 70%;
    width: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.projects_modal_card_img i {
    color: gray;
    font-size: 25px;
    position: sticky;
    bottom: 255px;
    left: 770px;
    cursor: pointer;
}

.projects_modal_card_img img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects_modal_card_text {
    padding: 20px;
    height: 50%;
    background-color: #F8F7F7;
}

.projects_modal_card_text h3 {
    font-weight: bold;
}

.fadeIn {
    animation: fadeIn 1s;
}

.fadeOut {
    animation: fadeOut 1s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  } 

  @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
  } 
@keyframes slideDown {
    0% {bottom: 100px;}
    100% {bottom: 0px;}
    
}