@import 'typing_animation.css';

banner {
    background: #1C1C1C;
    color: whitesmoke;
    font-size: 30px;
    width: 85%;
    height: 95vh;


    position: relative;
    left: 15%;
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

#banner_logo {
  width: 30vw;
}

.banner_text {
  margin-left: 20px;
}
  
#name {
  font-size: 200%;
  animation: fadeIn 4s;
}

#profile_pic {
  width: 150px;
  height: 150px;
  background-color: gray;
  background-image: url('media/Profile_Pic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-top: 15px;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 